<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and Read Text File</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/font_sarabun.css" rel="stylesheet">    
    <link href="./node_modules/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/bootstrap-icons.min.css">
    <script src="./js/vue.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
    <style>
        body {
            font-family: 'Sarabun', sans-serif;
        }
        .drag-drop {
            border: 2px dashed #cccccc;
            border-radius: 5px;
            padding: 50px;
            text-align: center;
            color: #cccccc;
            cursor: pointer;
        }
        .drag-drop.dragging {
            background-color: #f7f7f7;
        }
        td{
            font-size: 12px;
        }
        .form-control {
            font-size: 12px;
        }
        table {
            table-layout: fixed;
            width: 50px;
        }
    </style>
</head>
<body>
    <div id="app" class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Add any other navigation items here -->
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center">
                        <li class="nav-item me-3">
                            <div class="input-group">
                                <input type="text" class="form-control" v-model="searchQuery" placeholder="ค้นหา" aria-label="Search" aria-describedby="basic-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="basic-addon2" @click="searchData">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                                    </svg>
                                </button>
                            </div>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal" @click="uploadButton">
                                Upload File
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <section>
            
            <table id="data-table-main" class="table table-bordered table-striped mt-3">
                <thead>
                    <tr>
                        <th colspan="9" class="text-center" id="h-court">Details</th>
                    </tr>
                    <tr>
                        <!-- <th>CodeH</th> -->
                        <th>Code</th>
                        <th>Account</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Vendor Name</th>
                        <th>Effective Date</th>
                        <th>Bene Ref</th>
                        <th>Personal ID</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="text-sm-start">
                    <tr v-for="(data, index) in datas" :key="index">
                        <!-- <td class="col">
                            <span v-if="!data.edit">{{data.codeH}}</span>
                            <input v-if="data.edit" type="text" class="form-control" v-model="data.codeH">
                        </td> -->
                        <td class="col">
                            <span v-if="!data.edit">{{data.code}}</span>
                            <input v-if="data.edit" type="text" class="form-control" v-model="data.code">
                        </td>
                        <td class="col">
                            <span v-if="!data.edit">{{data.account}}</span>
                            <input v-if="data.edit" type="text" class="form-control" v-model="data.account">
                        </td>
                        <td class="col">
                            <span v-if="!data.edit">{{data.amount}}</span>
                            <input v-if="data.edit" type="text" class="form-control" v-model="data.amount">
                        </td>
                        <td class="col">
                            <span v-if="!data.edit">{{data.date_now}}</span>
                            <input v-if="data.edit" type="text" class="form-control" v-model="data.date_now">
                        </td>
                        <td class="col">
                            <span v-if="!data.edit">{{data.vendor_name}}</span>
                            <input v-if="data.edit" type="text" class="form-control" v-model="data.vendor_name">
                        </td>
                        <td class="col">
                            <span v-if="!data.edit">{{data.effective_date}}</span>
                            <input v-if="data.edit" type="text" class="form-control" v-model="data.effective_date">
                        </td>
                        <td>
                            <span v-if="!data.edit">{{data.bene_ref}}</span>
                            <input v-if="data.edit" type="text" class="form-control" v-model="data.bene_ref">
                        </td>
                        <td class="col">
                            <span v-if="!data.edit">{{data.personal_id}}</span>
                            <input v-if="data.edit" type="text" class="form-control" v-model="data.personal_id">
                        </td>
                        <td class="col">
                            <button v-if="!data.edit" @click="editData(index)" class="btn btn-sm btn-warning">Edit</button>
                            <button v-if="data.edit" @click="CancleData(index)" class="btn btn-sm btn-warning">Cancel</button>
                            <button v-if="data.edit" @click="updateData(index)" class="btn btn-sm btn-success">Save</button>
                            <button @click="deleteData(data.id)" class="btn btn-sm btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div>
                <button @click="getDatas(pagination.prev_page)" :disabled="!pagination.prev_page">Previous</button>
                <span>Page {{ pagination.current_page }} of {{ pagination.total_pages }}</span>
                <button @click="getDatas(pagination.next_page)" :disabled="!pagination.next_page">Next</button>
            </div>
        </section>
        


        <!-- Modal -->
        <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="uploadModalLabel">Upload Text File</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="file" class="form-label">Choose a text file to upload or drag it here:</label>
                            <input type="file" name="file" id="file" accept=".txt" class="form-control" style="display: none;" ref="fileInput" @change="handleFileChange">
                            <div id="drag-drop-area" ref="drag-drop-area" class="drag-drop"  @dragover.prevent @dragenter.prevent @dragleave.prevent @drop.prevent="handleDrop" @click="triggerFileInput">
                                Drag & Drop your file here
                            </div>
                            
                        </div>
                        <button hidden id="upload-btn" class="btn btn-primary" @click="uploadFile">Upload</button>
                        <div ref="response" id="response" class="mt-3"></div>
                        <!-- ตารางแสดงข้อมูล -->
                        <table id="data-table" class="table table-bordered table-striped mt-3" v-if="rows.length > 0">
                            <thead>
                                <tr>
                                    <th colspan="8" class="text-center">{{ 'CODE: ' + header.code_pf + ' ver.' + header.version }}</th>
                                </tr>
                                <tr>
                                    <th colspan="2">Code</th>
                                    <th colspan="2">Debit Account</th>
                                    <th colspan="2">Amount</th>
                                    <th colspan="2">Date Now</th>
                                </tr>
                                <tr>
                                    <td colspan="2">{{ header.code }}</td>
                                    <td colspan="2">{{ header.debit_account }}</td>
                                    <td colspan="2">{{ header.amount }}</td>
                                    <td colspan="2">{{ header.date_now }}</td>
                                </tr>
                                <tr>
                                    <th colspan="8" class="text-center" id="h-court">Details</th>
                                </tr>
                                <tr>
                                    <th>Code</th>
                                    <th>Account</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Vendor Name</th>
                                    <th>Effective Date</th>
                                    <th>Bene Ref</th>
                                    <th>Personal ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(row, index) in rows" :key="index">
                                    <td>
                                        <span>{{ row.code }}</span>
                                        
                                    </td>
                                    <td>{{ row.account }}</td>
                                    <td>{{ row.amount }}</td>
                                    <td>{{ row.date_now }}</td>
                                    <td>{{ row.vendor_name }}</td>
                                    <td>{{ row.effective_date }}</td>
                                    <td>{{ row.bene_ref}}</td>
                                    <td>{{ row.personal_id }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="uploadDatas()" data-bs-dismiss="modal">Upload</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <script>        

        new Vue({
            el: '#app',
            data: {
                datas:[],
                pagination: {
                    total: 0,
                    per_page: 10,
                    current_page: 1,
                    total_pages: 1,
                    next_page: null,
                    prev_page: null
                },
                selectedFile: null,
                rows: [],
                header: {},
                editMode:false,
                searchQuery: ''

            },
            created() {
                this.getDatas()
            },
            methods: {
                triggerFileInput() {
                    document.getElementById('file').click();
                },
                handleFileChange(event) {
                    const files = event.target.files;
                    if (files.length) {
                        this.selectedFile = files[0];
                        this.$refs['drag-drop-area'].textContent = this.selectedFile.name;
                        this.uploadFile();
                    }
                },
                handleDrop(event) {
                    this.selectedFile = event.dataTransfer.files[0];
                    this.$refs['drag-drop-area'].textContent = this.selectedFile.name;
                    this.uploadFile();
                },
                resetData(){
                    this.selectedFile = null
                    this.rows = []
                    this.header = {}
                    this.$refs['response'].innerHTML = ''
                    this.$refs.fileInput.value = null;
                    this.$refs['drag-drop-area'].textContent = 'Drag & Drop your file here'
                },
                uploadButton(){
                    this.resetData()
                },
                async getDatas(page = 1, per_page = 10) {
                    try {
                        const response = await axios.get(`./backend/financial_attorney_transactions?page=${page}&per_page=${per_page}&search=${this.searchQuery}`);

                        const data = response.data;
                        if (data.records) {
                            this.datas = data.records;
                            this.pagination = data.pagination;
                        } else {
                            this.datas = [];
                            this.pagination.total= 0,
                            this.pagination.per_page= 10,
                            this.pagination.current_page= 1,
                            this.pagination.total_pages= 1,
                            this.pagination.next_page= null,
                            this.pagination.prev_page= null
                        }
                    } catch (error) {
                        this.datas = [];
                            this.pagination.total= 0,
                            this.pagination.per_page= 10,
                            this.pagination.current_page= 1,
                            this.pagination.total_pages= 1,
                            this.pagination.next_page= null,
                            this.pagination.prev_page= null
                        this.$refs['response'].innerHTML = `<p class="text-danger">Error fetching data: ${error}</p>`;
                    }
                },

                async uploadFile() {
                    if (!this.selectedFile) {
                        alert('Please select a file first.');
                        return;
                    }

                    this.header = {};
                    this.rows = [];
                    
                    const formData = new FormData();
                    formData.append('file', this.selectedFile);

                    try {
                        const response = await axios.post('./backend/upload.php', formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        });

                        const data = response.data;
                        if (data.status === 'success') {
                            this.header = data.header;
                            this.rows = data.datas;
                            this.$refs['response'].innerHTML = '<p class="text-success">Data received successfully</p>';
                        } else {
                            this.$refs['response'].innerHTML = `<p class="text-danger">${data.message}</p>`;
                        }
                    } catch (error) {
                        this.$refs['response'].innerHTML = `<p class="text-danger">Error uploading file: ${error}</p>`;
                    }
                },
                async uploadDatas() {
                    if (!this.rows) {
                        alert('rows.');
                        return;
                    }                    

                    try {
                        const response = await axios.post('./backend/financial_attorney_transactions', 
                            this.rows
                        );

                        const data = response.data;
                        if (data.status === 'success') {
                            this.$refs['response'].innerHTML = '<p class="text-success">Data Insert successfully</p>';
                            this.getDatas()
                        } else {
                            this.$refs['response'].innerHTML = `<p class="text-danger">${data.message}</p>`;
                        }
                    } catch (error) {
                        this.$refs['response'].innerHTML = `<p class="text-danger">Error uploading file: ${error}</p>`;
                    }
                },
                async deleteData(id) {
                    try {
                        const result = await Swal.fire({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete it!'
                        });

                        if (result.isConfirmed) {
                            const response = await axios.delete(`./backend/financial_attorney_transactions/${id}`);
                            const data = response.data;

                            if (data.status === 'success') {
                                this.getDatas(this.pagination.current_page); // ดึงข้อมูลหน้าเดิมหลังจากลบข้อมูล
                                this.$refs['response'].innerHTML = '<p class="text-success">Data deleted successfully</p>';
                                Swal.fire(
                                    'Deleted!',
                                    'Your data has been deleted.',
                                    'success'
                                );
                            } else {
                                this.$refs['response'].innerHTML = `<p class="text-danger">${data.message}</p>`;
                                Swal.fire(
                                    'Error!',
                                    data.message,
                                    'error'
                                );
                            }
                        }
                    } catch (error) {
                        this.$refs['response'].innerHTML = `<p class="text-danger">Error deleting data: ${error}</p>`;
                        Swal.fire(
                            'Error!',
                            `Error deleting data: ${error}`,
                            'error'
                        );
                    }
                },

                editData(idx){
                    this.datas[idx].edit = true
                },
                CancleData(idx){
                    this.datas[idx].edit = false
                },
                async updateData(idx){
                    console.log(this.datas[idx])
                    const id = this.datas[idx].id
                    try {
                        const response = await axios.put(`./backend/financial_attorney_transactions/${id}`,this.datas[idx]);

                        const data = response.data;
                        if (data.status === 'success') {
                            this.getDatas(this.pagination.current_page); // ดึงข้อมูลหน้าเดิมหลังจากลบข้อมูล
                            this.$refs['response'].innerHTML = '<p class="text-success">Data deleted successfully</p>';
                        } else {
                            this.$refs['response'].innerHTML = `<p class="text-danger">${data.message}</p>`;
                        }
                    } catch (error) {
                        this.$refs['response'].innerHTML = `<p class="text-danger">Error deleting data: ${error}</p>`;
                    }
                },
                async searchData() {
                    this.getDatas(1); // ดึงข้อมูลหน้าแรกใหม่หลังจากการค้นหา
                }


            }
        });
    </script>
    <script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>
