<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and Read Text File</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/font_sarabun.css" rel="stylesheet">    
    <script src="./js/vue.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <style>
        body {
            font-family: 'Sarabun', sans-serif;
        }
        .drag-drop {
            border: 2px dashed #cccccc;
            border-radius: 5px;
            padding: 50px;
            text-align: center;
            color: #cccccc;
            cursor: pointer;
        }
        .drag-drop.dragging {
            background-color: #f7f7f7;
        }
    </style>
</head>
<body>
    <div id="app" class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li> 
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal" @click="uploadButton()">
                            Upload File
                        </button>
                    </li>
                </ul>
                
            </div>
            </div>
        </nav>
        <section>
            <table id="data-table-main" class="table table-bordered table-striped mt-3">            
                <thead>
                    <tr>
                        <th colspan="9" class="text-center" id="h-court">Details</th>
                    </tr>
                    <tr>
                        <th>CodeH</th>
                        <th>Code</th>
                        <th>Account</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Vendor Name</th>
                        <th>Effective Date</th>
                        <th>Bene Ref</th>
                        <th>Personal ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in datas" :key="index">
                        <th>{{item.codeH}}CodeH</th>
                        <th>{{item.code}}Code</th>
                        <th>Account</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Vendor Name</th>
                        <th>Effective Date</th>
                        <th>Bene Ref</th>
                        <th>Personal ID</th>
                    </tr>
                    
                </tbody>
            </table>
            <div>
                <button @click="getDatas(pagination.prev_page)" :disabled="!pagination.prev_page">Previous</button>
                <span>Page {{ pagination.current_page }} of {{ pagination.total_pages }}</span>
                <button @click="getDatas(pagination.next_page)" :disabled="!pagination.next_page">Next</button>
            </div>
        </section>
        


        <!-- Modal -->
        <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="uploadModalLabel">Upload Text File</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="file" class="form-label">Choose a text file to upload or drag it here:</label>
                            <input type="file" name="file" id="file" accept=".txt" class="form-control" style="display: none;" @change="handleFileChange">
                            <div id="drag-drop-area" ref="drag-drop-area" class="drag-drop" @dragover.prevent @dragenter.prevent @dragleave.prevent @drop.prevent="handleDrop" @click="triggerFileInput">
                                Drag & Drop your file here
                            </div>
                            
                        </div>
                        <button hidden id="upload-btn" class="btn btn-primary" @click="uploadFile">Upload</button>
                        <div ref="response" id="response" class="mt-3"></div>
                        <!-- ตารางแสดงข้อมูล -->
                        <table id="data-table" class="table table-bordered table-striped mt-3" v-if="rows.length > 0">
                            <thead>
                                <tr>
                                    <th colspan="8" class="text-center">{{ 'CODE: ' + header.code_pf + ' ver.' + header.version }}</th>
                                </tr>
                                <tr>
                                    <th colspan="2">Code</th>
                                    <th colspan="2">Debit Account</th>
                                    <th colspan="2">Amount</th>
                                    <th colspan="2">Date Now</th>
                                </tr>
                                <tr>
                                    <td colspan="2">{{ header.code }}</td>
                                    <td colspan="2">{{ header.debit_account }}</td>
                                    <td colspan="2">{{ header.amount }}</td>
                                    <td colspan="2">{{ header.date_now }}</td>
                                </tr>
                                <tr>
                                    <th colspan="8" class="text-center" id="h-court">Details</th>
                                </tr>
                                <tr>
                                    <th>Code</th>
                                    <th>Account</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Vendor Name</th>
                                    <th>Effective Date</th>
                                    <th>Bene Ref</th>
                                    <th>Personal ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(row, index) in rows" :key="index">
                                    <td>{{ row.code }}</td>
                                    <td>{{ row.account }}</td>
                                    <td>{{ row.amount }}</td>
                                    <td>{{ row.date_now }}</td>
                                    <td>{{ row.vendor_name }}</td>
                                    <td>{{ row.effective_date }}</td>
                                    <td>{{ row.bene_ref }}</td>
                                    <td>{{ row.personal_id }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="uploadDatas()" data-bs-dismiss="modal">Upload</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                datas:[],
                pagination: {
            total: 0,
            per_page: 10,
            current_page: 1,
            total_pages: 1,
            next_page: null,
            prev_page: null
        },
                selectedFile: null,
                rows: [],
                header: {}

            },
            created() {
                this.getDatas()
            },
            methods: {
                triggerFileInput() {
                    document.getElementById('file').click();
                },
                handleFileChange(event) {
                    const files = event.target.files;
                    if (files.length) {
                        this.selectedFile = files[0];
                        this.$refs['drag-drop-area'].textContent = this.selectedFile.name;
                        this.uploadFile();
                    }
                },
                handleDrop(event) {
                    this.selectedFile = event.dataTransfer.files[0];
                    this.$refs['drag-drop-area'].textContent = this.selectedFile.name;
                    this.uploadFile();
                },
                resetData(){
                    this.selectedFile = null
                    this.rows = []
                    this.header = {}
                    this.$refs['response'].innerHTML = ''
                },
                uploadButton(){
                    this.resetData()
                },
                async getDatas(page = 1, per_page = 10) {
                    try {
                        const response = await axios.get(`./backend/financial_attorney_transactions?page=${page}&per_page=${per_page}`);

                        const data = response.data;
                        if (data.records) {
                            this.datas = data.records;
                            this.pagination = data.pagination;
                        } else {
                            this.$refs['response'].innerHTML = `<p class="text-danger">${data.message}</p>`;
                        }
                    } catch (error) {
                        this.$refs['response'].innerHTML = `<p class="text-danger">Error fetching data: ${error}</p>`;
                    }
                },

                async uploadFile() {
                    if (!this.selectedFile) {
                        alert('Please select a file first.');
                        return;
                    }

                    this.header = {};
                    this.rows = [];
                    
                    const formData = new FormData();
                    formData.append('file', this.selectedFile);

                    try {
                        const response = await axios.post('./backend/upload.php', formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        });

                        const data = response.data;
                        if (data.status === 'success') {
                            this.header = data.header;
                            this.rows = data.datas;
                            this.$refs['response'].innerHTML = '<p class="text-success">Data received successfully</p>';
                        } else {
                            this.$refs['response'].innerHTML = `<p class="text-danger">${data.message}</p>`;
                        }
                    } catch (error) {
                        this.$refs['response'].innerHTML = `<p class="text-danger">Error uploading file: ${error}</p>`;
                    }
                },
                async uploadDatas() {
                    if (!this.rows) {
                        alert('rows.');
                        return;
                    }                    

                    try {
                        const response = await axios.post('./backend/financial_attorney_transactions', 
                            this.rows
                        );

                        const data = response.data;
                        if (data.status === 'success') {
                            this.$refs['response'].innerHTML = '<p class="text-success">Data Insert successfully</p>';
                        } else {
                            this.$refs['response'].innerHTML = `<p class="text-danger">${data.message}</p>`;
                        }
                    } catch (error) {
                        this.$refs['response'].innerHTML = `<p class="text-danger">Error uploading file: ${error}</p>`;
                    }
                }
            }
        });
    </script>
    <script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>
